<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049655652521-uk4lis7j2uo7h0fd15t4fv1v1kekt7mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049655652521-uk4lis7j2uo7h0fd15t4fv1v1kekt7mh</string>
	<key>API_KEY</key>
	<string>AIzaSyDPLCBXwt1thr5kPnSGHNyBXjUNuyeLFR4</string>
	<key>GCM_SENDER_ID</key>
	<string>1049655652521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daichiniwa.daichifirebasetest</string>
	<key>PROJECT_ID</key>
	<string>daichi-firebase-test</string>
	<key>STORAGE_BUCKET</key>
	<string>daichi-firebase-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049655652521:ios:bf1b3652a130137ea0b9b8</string>
</dict>
</plist>